.app {
  font-family: Verdana, Geneva, sans-serif;
  /* font-family: "Helvetica", Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 14px; */
}
html,
body,
#root,
.app,
.sidebar,
.main {
  height: 100%;
}
.sidebar,
.main {
  float: left;
}
.sidebar {
  width: 30%;
}
.main {
  width: 70%;
  /* background-color: #ccc; */
}
